{{docs-header}}

{{docs-hero
  logo='ember'
  slimHeading='Analytics'
  strongHeading='Sauce'
  byline='My addon demo/marketing page.'}}

  <div class="home">
    <div class="home__section">
      <h2>Data</h2>
      <p class="home__lead">
        Collect all the things all the time. Data is stored in google big data and can be filtered by app, version and environment.
      </p>
    </div>

    <div class="home__section">
      <h2>Privacy</h2>
      <p class="home__lead">
        Hosted on our own api, immune to adblockers
      </p>
    </div>

    <div class="home__section">
      <h2>Don't be creepy</h2>
      <p class="home__lead">
        Anonomize data and only store screen views and event data.
      </p>
    </div>

    <div class="home__cta">
      {{link-to "Read the docs" "docs"}}
    </div>

  </div>
