{{page-title "Home"}}

<h1>Home Page</h1>

<ul>
  <li><LinkTo @route="thing" @model={{1}}>Thing: 1</LinkTo></li>
  <li><LinkTo @route="thing" @model={{2}}>Thing: 2</LinkTo></li>
  <li><LinkTo @route="thing" @model={{3}}>Thing: 3</LinkTo></li>
  <li><LinkTo @route="thing" @model={{4}}>Thing: 4</LinkTo></li>
</ul>